* {
    /*Editar los margenes predefinidos de la pagina*/
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#form,
#form-fp {
    text-transform: uppercase;
    position: relative;
    background: #EFEFEFEF;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 120px;
    margin-left: 100px;
    margin-bottom: 51px;
    float: left;
    height: 10%;
    width: 400px;
    line-height: 70px;
}

#formulario,
#formulario-fp {
    text-transform: uppercase;
    position: relative;
    text-align: center;
    background: #EFEFEFEF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 120px;
    margin-left: 500.2px;
    margin-bottom: 30px;
    line-height: 70px;
    height: 10%;
    width: 800px;
}

.clearfixed {
    float: none;
    clear: initial;
}

#plot-biseccion,
#plot-falsa-posicion {
    position: relative;
    clear: both;
    float: left;
    width: 550px;
    height: 435px;
    margin-left: 100px;
    margin-top: -35px;
    background: rebeccapurple;
    border-radius: 10px;
}

#resultados {
    position: relative;
    background: #EFEFEFEF;
    border-radius: 10px;
    text-align: center;
    padding-top: 60px;
    color: #444;
    letter-spacing: 4px;
    margin-left: 700px;
    margin-top: -12px;
    width: 595px;
    height: 435px;
}

#resultados h3 {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #444;
    font-size: 24px;
    letter-spacing: 4px;
}

#resultados div {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 2px;
}

#xl,
#xl-fp {
    border-radius: 10px;
    margin: -100px 0px;
    width: 17%;
    padding: 7px;
}

#eq,
#ecuacion-fp {
    border-radius: 10px;
    margin: -100px 0px;
    width: 40%;
    padding: 7px;
}

#xu,
#xu-fp {
    border-radius: 10px;
    margin: -10px 1px;
    width: 17%;
    padding: 7px;
    margin-left: 10px;
}

#cifras,
#cifras-fp {
    border-radius: 10px;
    margin: 10px 1px;
    width: 15%;
    padding: 7px;
    margin-left: 10px;
}

#calcular {
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(270deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: -o-linear-gradient(270deg, rgb(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: linear-gradient(180deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    border: rgba(112, 15, 15, 0.63);
    padding-left: 5px;
    height: 35px;
    margin-left: 6px;
    text-transform: uppercase;
    text-align: center;
}

#calcular-fp {
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(270deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: -o-linear-gradient(270deg, rgb(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: linear-gradient(180deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    border: rgba(112, 15, 15, 0.63);
    padding-left: 5px;
    height: 35px;
    margin-left: 6px;
    text-transform: uppercase;
    text-align: center;
}

.boton:hover {
    background-image: -webkit-linear-gradient(270deg, rgba(120, 138, 166, 1.00) 0%, rgba(53, 64, 85, 1.00) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(120, 138, 166, 1.00) 0%, rgba(53, 64, 85, 1.00) 100%);
    background-image: -o-linear-gradient(270deg, rgba(120, 138, 166, 1.00) 0%, rgba(53, 64, 85, 1.00) 100%);
    background-image: linear-gradient(180deg, rgba(120, 138, 166, 1.00) 0%, rgba(53, 64, 85, 1.00) 100%);
    opacity: 0.85;
}

#formulario-seno strong,
#formulario-aprox strong {
    font-weight: bold;
    margin-left: 27px;
}

#x {
    border-radius: 10px;
    margin-top: 40px;
    width: 23.5%;
    padding: 7px;
    margin-left: 10px;
}

#angulo {
    border-radius: 10px;
    margin-top: 100px;
    width: 13%;
    padding: 7px;
    margin-left: 15px;
}

#resultados-aprox {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 320px;
    margin-top: 36px;
    padding-top: 40px;
    background: rgb(218, 218, 218);
    width: 50.4%;
    height: 347px;
    text-align: center;
}

#formulario-aprox {
    text-transform: uppercase;
}

#cifras-aprox {
    border-radius: 10px;
    margin: 10px 1px auto;
    width: 26.5%;
    padding: 7px;
    margin-left: 10px;
}

#cifras-seno {
    border-radius: 10px;
    margin: 10px 1px auto;
    width: 13%;
    padding: 7px;
    margin-left: 10px;
}

#calcular-seno {
    width: 10%;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(270deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: -o-linear-gradient(270deg, rgb(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: linear-gradient(180deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    padding-left: 10px;
    height: 35px;
    margin-left: 30px;
    text-transform: uppercase;
    border: rgba(112, 15, 15, 0.63);
    cursor: pointer;
}

#graficar,
#graficar-fp {
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(270deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: -o-linear-gradient(270deg, rgb(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: linear-gradient(180deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    border: rgba(112, 15, 15, 0.63);
    padding-left: 4px;
    height: 35px;
    margin-left: 30px;
    text-align: center;
    text-transform: uppercase;
}

#resultadosSeno {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 30px;
    margin-left: 320px;
    background: rgb(243, 242, 242);
    width: 50.4%;
    height: 380px;
    padding: 40px;
    text-align: center;
}

#x,
#cifras-aprox {
    width: 13%;
}

#calcular-aprox {
    width: 10%;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(270deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: -o-linear-gradient(270deg, rgb(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: linear-gradient(180deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    border: rgba(112, 15, 15, 0.63);
    padding-left: 10px;
    height: 35px;
    margin-left: 30px;
    text-transform: uppercase;
    cursor: pointer;
}