* {
    /*Editar los margenes predefinidos de la pagina*/
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#logo h2 {
    margin-left: 250px;
}

#form,
#form-fp,
#form-fp-m,
#form-iteracion,
#form-newton,
#form-secante {
    text-transform: uppercase;
    position: relative;
    background: #EFEFEFEF;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 120px;
    margin-left: 100px;
    margin-bottom: 51px;
    float: left;
    height: 10%;
    width: 400px;
    line-height: 70px;
}

#formulario,
#formulario-fp,
#formulario-fp-m,
#formulario-iteracion,
#formulario-newton,
#formulario-secante {
    text-transform: uppercase;
    position: relative;
    text-align: center;
    background: #EFEFEFEF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 120px;
    margin-left: 500.2px;
    margin-bottom: 30px;
    line-height: 70px;
    height: 10%;
    width: 800px;
}

.clearfixed {
    float: none;
    clear: initial;
}

#plot-biseccion,
#plot-falsa-posicion,
#plot-falsa-posicion-m,
#plot-iteracion,
#plot-newton,
#plot-secante {
    position: relative;
    clear: both;
    float: left;
    width: 550px;
    height: 435px;
    margin-left: 100px;
    margin-top: -35px;
    background: rebeccapurple;
    border-radius: 10px;
}

#resultados,
#resultados-m,
#resultados-fp,
#resultados-iteracion,
#resultados-newton,
#resultados-secante {
    position: relative;
    background: #EFEFEFEF;
    border-radius: 10px;
    text-align: center;
    padding-top: 60px;
    color: #444;
    letter-spacing: 4px;
    margin-left: 700px;
    margin-top: -12px;
    width: 595px;
    height: 435px;
}

#resultados h3,
#resultados-fp h3,
#resultados-m h3,
#resultados-iteracion h3,
#resultados-newton h3,
#resultados-secante h3 {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #444;
    font-size: 24px;
    letter-spacing: 4px;
}

#resultados div,
#resultados-fp div,
#resultados-m div,
#resultados-iteracion div,
#resultados-newton div,
#resultados-secante div {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 2px;
}

#xl,
#xl-fp,
#xl-fp-m,
#u,
#xi,
#xl-secante {
    border-radius: 10px;
    margin: -100px 0px;
    width: 17%;
    padding: 7px;
}

#eq,
#ecuacion-fp,
#ecuacion-fp-m,
#ecuacion-iteracion,
#ecuacion-newton,
#ecuacion-secante {
    border-radius: 10px;
    width: 40%;
    padding: 7px;
}

#xu,
#xu-fp,
#xu-fp-m,
#xu-secante {
    border-radius: 10px;
    margin: -10px 1px;
    width: 17%;
    padding: 7px;
    margin-left: 10px;
}

#cifras,
#cifras-fp,
#cifras-fp-m,
#cifras-iteracion,
#cifras-newton,
#cifras-secante {
    border-radius: 10px;
    margin: 10px 1px;
    width: 15%;
    padding: 7px;
    margin-left: 10px;
}

#calcular {
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(270deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: -o-linear-gradient(270deg, rgb(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: linear-gradient(180deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    border: rgba(112, 15, 15, 0.63);
    padding-left: 5px;
    height: 35px;
    margin-left: 6px;
    text-transform: uppercase;
    text-align: center;
    border: 0;
    outline: 0;
}

#calcular-fp {
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(270deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: -o-linear-gradient(270deg, rgb(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: linear-gradient(180deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    border: rgba(112, 15, 15, 0.63);
    padding-left: 5px;
    height: 35px;
    margin-left: 6px;
    text-transform: uppercase;
    text-align: center;
    border: 0;
    outline: 0;
}

li a {
    border: 0 !important;
    outline: 0 !important;
}

#calcular-fp-m,
#calcular-iteracion,
#calcular-newton,
#calcular-secante {
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(270deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: -o-linear-gradient(270deg, rgb(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: linear-gradient(180deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    border: rgba(112, 15, 15, 0.63);
    padding-left: 5px;
    height: 35px;
    margin-left: 6px;
    text-transform: uppercase;
    text-align: center;
    border: 0;
    outline: 0;
}

.boton:hover {
    background-image: -webkit-linear-gradient(270deg, rgba(120, 138, 166, 1.00) 0%, rgba(53, 64, 85, 1.00) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(120, 138, 166, 1.00) 0%, rgba(53, 64, 85, 1.00) 100%);
    background-image: -o-linear-gradient(270deg, rgba(120, 138, 166, 1.00) 0%, rgba(53, 64, 85, 1.00) 100%);
    background-image: linear-gradient(180deg, rgba(120, 138, 166, 1.00) 0%, rgba(53, 64, 85, 1.00) 100%);
    opacity: 0.85;
}

#graficar,
#graficar-fp,
#graficar-fp-m,
#graficar-iteracion,
#graficar-newton,
#graficar-secante {
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(270deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: -o-linear-gradient(270deg, rgb(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    background-image: linear-gradient(180deg, rgba(145, 72, 72) 0%, rgba(161, 51, 51, 0.466) 100%);
    border: rgba(112, 15, 15, 0.63);
    padding-left: 4px;
    height: 35px;
    margin-left: 30px;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    outline: 0;
}